:root {
    --heading-font: "Orbitron", sans-serif;
    --subheading-font: "Tektur", sans-serif;
    --body-font: "Quicksand", sans-serif;
}

* {
    margin: 0;
    color: white;
}

body {
    font-family: var(--body-font);
    background-image: url("../images/stars.gif");
    background-position: 50%;
    background-size: 250px;
    cursor: none;
}

main {
    padding: 5rem 0;
    margin: auto 40px;
}

section {
    max-width: 600px;
    margin: 0 auto;
}

h1, h2, h3 {
    margin: 0;
    font-family: var(--heading-font);
}

h1 {
    margin: 0 0 2rem 0;
    font-size: 2.5em;
}

ul {
    margin-bottom: 2rem;
}

h2 {
    margin-bottom: 1rem;
}

a {
    cursor: none;
}

/* Class Selectors */

.divider {
    height: 1px;
    background-color: white;
    max-width: 600px;
    margin: 2rem auto;
}

.status-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.status-text {
    font-family: var(--subheading-font);
}

.hero-sec ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
}

.hero-sec a,
.file-sec a {
    text-decoration: none;
    padding: 12px 16px;
    background-color: rgba(65, 65, 65, 0.5);
    border-radius: 40px;
    display: flex;
    gap: 10px;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    font-family: var(--subheading-font);
    transition: all 500ms;
}

.timeline-container {
    display: grid;
    grid-template-columns: 1fr 5px 1fr;
    grid-template-rows: repeat(6, 1fr);
    column-gap: 1rem;
}

.grid-divider {
    grid-column: 2/3;
    grid-row: 1/7;
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 7px;
}

.divider-line {
    width: 3px;
    height: 85%;
    background-color: white;
}

.grid-divider svg {
    position: absolute;
}

.timeline-container span {
    font-family: var(--subheading-font);
}

.timeline-sec p {
    margin-top: .5rem;
    font-size: smaller;
}

.skills-sec .card-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.skills-sec .card {
    padding: 2rem;
    background-color: rgba(65, 65, 65, 0.3);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    transform: perspective(1000px);
}

.skills-sec .icon {
    padding: 10px;
    width: 30px;
    height: auto;
}

.skills-sec svg,
.tools-sec svg {
    transform: translateZ(20px);
}


.projects-sec a {
    text-decoration: none;
}

.projects-sec .card-grid {
    display: grid;
    gap: 1rem;
}

.projects-sec .card {
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.4);
}

.image-container {
    overflow: clip;
    height: 250px;
}

.projects-sec .card img {
    width: 100%;
    transition: transform 0.5s ease-in-out;
}

.projects-sec .card-textbox {
    padding: 1rem;
    background-color: rgba(65, 65, 65, 0.5);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.projects-sec .card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.projects-sec .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.projects-sec .card-skills-box {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-top: 1rem;
}

.skills-sec span,
.tools-sec span {
    font-family: var(--subheading-font);
    text-align: center;
    transform: translateZ(20px);
}

.tools-sec .card-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.tools-sec .card {
    padding: 2rem;
    background-color: rgba(65, 65, 65, 0.3);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    transform: perspective(1000px);
}

.tools-sec .icon {
    padding: 10px;
    width: 30px;
    height: auto;
}

.file-sec ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    padding-left: 0;
}

.file-sec p {
    margin-bottom: 1rem;
}

.particle {
    position: fixed;
    pointer-events: none;
    border-radius: 50%;
    z-index: 9998;
    opacity: 1;
    will-change: transform, opacity;
}

/* ID Selectors */

#rocket-cursor {
    display: none;
}

#timeline-1 {
    grid-column: 3/4;
    grid-row: 1/2;
}

#timeline-2 {
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: right;
}

#timeline-3 {
    grid-column: 3/4;
    grid-row: 3/4;
}

#timeline-4 {
    grid-column: 1/2;
    grid-row: 4/5;
    text-align: right;
}

#timeline-5 {
    grid-column: 3/4;
    grid-row: 5/6;
}

#timeline-6 {
    grid-column: 1/2;
    grid-row: 6/7;
    text-align: right;
}

#circle-2 {
    top: 100px;
}

#circle-3 {
    top: 197px;
}

#circle-4 {
    top: 292px;
}

#circle-5 {
    top: 389px;
}

#circle-6 {
    top: 485px;
}

/* Animation */

#status {
    animation: statusPulse 1s infinite ease-in-out;
    border-radius: 40px;
}

@keyframes statusPulse {
    0%, 100% { box-shadow: 0 0 3px #33FF33; }
    50% { box-shadow: 0 0 6px 2px #33FF33; }
}

.gradient {
    background: linear-gradient(45deg, #ff4d00, #ff8800, #ffcc00);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-size: 200% auto;
    animation: gradient-animation 3s linear infinite reverse;
}

@keyframes gradient-animation {
    0% { background-position: 0% center; }
    100% { background-position: 200% center; }
}
